## COMTRADE DATA ANALYSIS

**Note**: Here, I will add geographical data to the csv files, and I will also analyze the data to look at the supply chains and extract basic facts out of the data.

Notes from Professor Sharma: Keep the 2020 and 2021 data separate from the rest of the analyses as there have been a lot of supply chain issues since. 

Look at the data for forests and supply chains; there should be papers referencing it from 2007 and 2010. 
Make Sankey diagrams to look at in-flows and outflows of bamboo.

Look at the top 10 countries that import and export and map out the forests and densities.
Then start with market analysis.

#### Importing Tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [10]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

#### Importing Data

In [11]:
comtrade_1 = pd.read_csv("../data/raw/2016-2012_bamboo_trade_data.csv")

In [12]:
comtrade_1.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,2nd Partner Code,2nd Partner,2nd Partner ISO,Customs Proc. Code,Customs,Mode of Transport Code,Mode of Transport,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H4,2013,2013,2013,6,1,1,Import,8,Albania,ALB,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,26.0,NaN,NaN,NaN,10720.0,NaN,15708,NaN,NaN,2
1,H4,2012,2012,2012,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",1,No Quantity,NaN,NaN,NaN,NaN,924323.0,NaN,872057,NaN,NaN,0
2,H4,2013,2013,2013,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,1382.0,NaN,NaN,NaN,779783.0,NaN,840063,NaN,NaN,2
3,H4,2014,2014,2014,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,1076.0,NaN,NaN,NaN,502094.0,NaN,751967,NaN,NaN,2
4,H4,2015,2015,2015,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,11672.0,NaN,NaN,NaN,317970.0,NaN,303758,NaN,NaN,0

In [13]:
comtrade_2 = pd.read_csv("../data/raw/2021-2017_bamboo_trade_data.csv")

In [14]:
comtrade_2.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,2nd Partner Code,2nd Partner,2nd Partner ISO,Customs Proc. Code,Customs,Mode of Transport Code,Mode of Transport,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H5,2017,2017,2017,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,61,NaN,NaN,NaN,39852.0,NaN,33455,NaN,NaN,2
1,H5,2017,2017,2017,6,1,1,Import,36,Australia,AUS,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,4897,NaN,NaN,NaN,1307168.0,NaN,2090384,NaN,NaN,4
2,H5,2017,2017,2017,6,1,2,Export,36,Australia,AUS,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,2925,NaN,NaN,NaN,186498.0,NaN,295452,NaN,NaN,4
3,H5,2017,2017,2017,6,1,1,Import,40,Austria,AUT,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",1,No Quantity,0,NaN,NaN,NaN,23248.0,NaN,69685,NaN,NaN,2
4,H5,2017,2017,2017,6,1,2,Export,40,Austria,AUT,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,0,NaN,NaN,NaN,8.0,NaN,125,NaN,NaN,2

#### Analyzing Comtrade 1 (Laminated bamboo data from 2016-2012)

In [15]:
comtrade_1.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,2nd Partner Code,2nd Partner,2nd Partner ISO,Customs Proc. Code,Customs,Mode of Transport Code,Mode of Transport,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H4,2013,2013,2013,6,1,1,Import,8,Albania,ALB,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,26.0,NaN,NaN,NaN,10720.0,NaN,15708,NaN,NaN,2
1,H4,2012,2012,2012,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",1,No Quantity,NaN,NaN,NaN,NaN,924323.0,NaN,872057,NaN,NaN,0
2,H4,2013,2013,2013,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,1382.0,NaN,NaN,NaN,779783.0,NaN,840063,NaN,NaN,2
3,H4,2014,2014,2014,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,1076.0,NaN,NaN,NaN,502094.0,NaN,751967,NaN,NaN,2
4,H4,2015,2015,2015,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,11672.0,NaN,NaN,NaN,317970.0,NaN,303758,NaN,NaN,0

In [24]:
# Looking at the countries that trade the highest netweight of laminated bamboo.
high_bamboo = comtrade_1.groupby(["Reporter"])["Netweight (kg)"].agg("sum")

In [31]:
# These are the top 10 countries who trade laminated bamboo in the highest amount.
high_bamboo.sort_values(ascending=False).head(10)

Reporter
China                   279474762.0
USA                     144468752.0
Angola                   91894348.0
United Arab Emirates     88729915.0
Netherlands              76574756.0
Singapore                55578977.0
India                    31255125.0
Yemen                    19437492.0
Oman                     18654289.0
Italy                    17096165.0
Name: Netweight (kg), dtype: float64

In [23]:
# Looking at the countries that trade laminated bamboo for the highest amounts of money.
USD_bamboo = comtrade_1.groupby(["Reporter"])["Trade Value (US$)"].agg("sum")
USD_bamboo.sort_values(ascending=False).head(10)

Reporter
China                   364557088
USA                     219148776
Netherlands             131804725
Singapore                89243236
United Arab Emirates     57159106
India                    45017803
Italy                    24764293
Belgium                  23591877
Angola                   23249831
United Kingdom           21276507
Name: Trade Value (US$), dtype: int64

In [35]:
comtrade_1.groupby(["Reporter"])["Trade Flow"].agg("count").sort_values(
    ascending=False
).head()

Reporter
Canada                  18
United Arab Emirates    15
USA                     15
Bahrain                 14
New Zealand             14
Name: Trade Flow, dtype: int64

In [43]:
imports_c1 = comtrade_1[comtrade_1["Trade Flow"].str.contains("Import")]
imports_c1.groupby(["Reporter"])["Netweight (kg)"].agg("sum").sort_values(
    ascending=False
)

Reporter
USA                                 124860341.0
Angola                               91894348.0
Netherlands                          65570890.0
United Arab Emirates                 62719974.0
Singapore                            50380659.0
India                                31019224.0
Yemen                                19437492.0
Oman                                 18577641.0
Japan                                13647703.0
Lebanon                              13566349.0
Thailand                             11884695.0
Kuwait                               10454253.0
United Kingdom                       10050873.0
Australia                             9689785.0
Guatemala                             9433291.0
United Rep. of Tanzania               8546355.0
Kenya                                 8201814.0
Belgium                               7617004.0
Germany                               7289799.0
France                                6939657.0
Canada                                6116864.0
Portugal                              6106823.0
Jordan                                6099042.0
Italy                                 5319924.0
Sudan                                 5117141.0
Bahrain                               4890911.0
Qatar                                 4711641.0
Kazakhstan                            4645341.0
Lao People's Dem. Rep.                4362858.0
Bahamas                               4275961.0
Nigeria                               4243109.0
Saudi Arabia                          3939544.0
Sweden                                3349412.0
New Zealand                           3031555.0
Rep. of Korea                         2735166.0
Algeria                               2585309.0
Mexico                                2470156.0
Ethiopia                              2370992.0
Czechia                               2270765.0
Suriname                              2242493.0
China                                 2011028.0
Rwanda                                1921140.0
Russian Federation                    1845363.0
Nicaragua                             1776673.0
Denmark                               1744426.0
Norway                                1695508.0
Morocco                               1665981.0
China, Hong Kong SAR                  1653618.0
Ghana                                 1612877.0
Zambia                                1559544.0
Congo                                 1512460.0
Ireland                               1506485.0
Austria                               1460571.0
Luxembourg                            1443618.0
Malaysia                              1429209.0
Bermuda                               1418437.0
Ecuador                               1369979.0
El Salvador                           1126050.0
Guinea                                1114589.0
Dominican Rep.                        1027691.0
Namibia                                953495.0
Nepal                                  903549.0
Spain                                  901096.0
Colombia                               893155.0
Indonesia                              872993.0
Uganda                                 845483.0
Brazil                                 838542.0
Viet Nam                               778153.0
Sri Lanka                              748810.0
Slovakia                               747334.0
Lithuania                              709023.0
Saint Kitts and Nevis                  680178.0
Other Asia, nes                        606933.0
Azerbaijan                             586529.0
Mongolia                               582416.0
Maldives                               568326.0
Sierra Leone                           556276.0
Costa Rica                             551029.0
Poland                                 549759.0
Switzerland                            542973.0
Dem. Rep. of the Congo                 515692.0
Mozambique                             485556.0
Seychelles                             471668.0
Iran                                   435552.0
Zimbabwe                               383571.0
Samoa                                  373635.0
Peru                                   342373.0
Central African Rep.                   323000.0
Egypt                                  322692.0
Cabo Verde                             320842.0
Senegal                                319843.0
Myanmar                                313751.0
Honduras                               309365.0
Croatia                                285798.0
Bulgaria                               266264.0
Hungary                                265262.0
Côte d'Ivoire                          262407.0
Bolivia (Plurinational State of)       246510.0
Slovenia                               227094.0
Burkina Faso                           208888.0
Chile                                  206661.0
Niger                                  203022.0
Antigua and Barbuda                    201140.0
Finland                                197556.0
Romania                                189337.0
Belize                                 188734.0
Mauritius                              184876.0
Trinidad and Tobago                    182602.0
Panama                                 170597.0
Jamaica                                143508.0
Cambodia                               141422.0
Pakistan                               137503.0
Bangladesh                             133742.0
Brunei Darussalam                      118686.0
Turkey                                 116101.0
Tunisia                                107842.0
French Polynesia                       106407.0
Tajikistan                             104960.0
Serbia                                 104573.0
Turks and Caicos Isds                  103630.0
Tonga                                  100652.0
Cameroon                                98382.0
Iceland                                 96632.0
Lesotho                                 96583.0
Georgia                                 96122.0
Malawi                                  92570.0
Israel                                  76866.0
Estonia                                 75426.0
Malta                                   75415.0
Argentina                               64012.0
Fiji                                    57847.0
Burundi                                 54092.0
Kyrgyzstan                              51430.0
Rep. of Moldova                         41252.0
Mali                                    40000.0
Uruguay                                 38659.0
Greece                                  38254.0
Madagascar                              37094.0
Kiribati                                34417.0
Togo                                    31500.0
Belarus                                 29552.0
Eswatini                                28163.0
Cyprus                                  27598.0
Guyana                                  26262.0
New Caledonia                           26050.0
Ukraine                                 21924.0
Armenia                                 20158.0
Bhutan                                  14455.0
Palau                                   14053.0
Comoros                                 13537.0
Greenland                               12059.0
Saint Lucia                             11894.0
Albania                                 10720.0
Saint Vincent and the Grenadines         6824.0
Grenada                                  6189.0
Bosnia Herzegovina                       4693.0
Latvia                                   2636.0
Gambia                                   2443.0
Aruba                                    1827.0
Benin                                    1436.0
State of Palestine                       1198.0
Paraguay                                  868.0
Sao Tome and Principe                     575.0
Solomon Isds                              181.0
Montserrat                                135.0
Montenegro                                103.0
Dominica                                   12.0
South Africa                                0.0
Papua New Guinea                            0.0
Name: Netweight (kg), dtype: float64

In [39]:
exports_c1 = comtrade_1[comtrade_1["Trade Flow"].str.contains("Export", case=False)]

In [44]:
exports_c1.groupby(["Reporter"])["Netweight (kg)"].agg("sum").sort_values(
    ascending=False
)

Reporter
China                               277463734.0
United Arab Emirates                 26009941.0
USA                                  19608411.0
Italy                                11776241.0
Netherlands                          11003866.0
Uganda                                9989423.0
Spain                                 6585649.0
Belgium                               5628631.0
Singapore                             5198318.0
Côte d'Ivoire                         4040687.0
Denmark                               3764344.0
New Zealand                           2133123.0
United Kingdom                        1798137.0
Jordan                                1521240.0
Cameroon                              1428997.0
Malaysia                              1016910.0
Lao People's Dem. Rep.                 974626.0
Sweden                                 749310.0
Canada                                 721026.0
Viet Nam                               665129.0
Czechia                                628415.0
Germany                                615822.0
Rep. of Korea                          556334.0
South Africa                           477766.0
Other Asia, nes                        454559.0
Ghana                                  419602.0
Guyana                                 418549.0
Guatemala                              411132.0
Egypt                                  297527.0
Portugal                               297425.0
Pakistan                               268761.0
Lebanon                                247693.0
India                                  235901.0
Nigeria                                234193.0
Thailand                               228573.0
Australia                              186917.0
Estonia                                174581.0
Finland                                167892.0
Saudi Arabia                           160000.0
Russian Federation                     155787.0
Costa Rica                             154531.0
Panama                                 137915.0
Colombia                               124956.0
Turkey                                 114163.0
Tunisia                                 84670.0
Sudan                                   77000.0
Oman                                    76648.0
United Rep. of Tanzania                 64612.0
France                                  64373.0
Luxembourg                              58653.0
Sri Lanka                               55551.0
Antigua and Barbuda                     52174.0
Japan                                   36890.0
Namibia                                 36645.0
Honduras                                30063.0
Indonesia                               28346.0
Eswatini                                27360.0
Switzerland                             24638.0
Nepal                                   20285.0
Mexico                                  18756.0
Dominican Rep.                          17904.0
Brazil                                  16785.0
Croatia                                 16742.0
Slovenia                                16569.0
Ecuador                                 16500.0
Serbia                                  16164.0
Kenya                                   15632.0
Norway                                  14654.0
Slovakia                                13682.0
Poland                                  13494.0
Lithuania                               13056.0
Greece                                  11699.0
Samoa                                    9898.0
Hungary                                  8836.0
Bahrain                                  8709.0
Belarus                                  8517.0
Trinidad and Tobago                      6951.0
Bolivia (Plurinational State of)         6000.0
Gambia                                   5698.0
Bahamas                                  5550.0
Zambia                                   5000.0
Ireland                                  3429.0
Burkina Faso                             3000.0
Romania                                  2724.0
Madagascar                               2480.0
Nicaragua                                2141.0
Israel                                   2121.0
Senegal                                  2002.0
Latvia                                   1979.0
Cyprus                                   1960.0
Brunei Darussalam                        1441.0
El Salvador                               816.0
Austria                                   801.0
Saint Kitts and Nevis                     800.0
Iran                                      500.0
State of Palestine                        435.0
Morocco                                   334.0
Jamaica                                   306.0
Peru                                      222.0
Fiji                                      148.0
Chile                                      61.0
Lesotho                                     0.0
China, Hong Kong SAR                        0.0
Bermuda                                     0.0
Name: Netweight (kg), dtype: float64

#### Analyzing Comtrade 2 (Laminated bamboo data from 2021-2017)

In [26]:
comtrade_2.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,2nd Partner Code,2nd Partner,2nd Partner ISO,Customs Proc. Code,Customs,Mode of Transport Code,Mode of Transport,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H5,2017,2017,2017,6,1,1,Import,12,Algeria,DZA,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,61,NaN,NaN,NaN,39852.0,NaN,33455,NaN,NaN,2
1,H5,2017,2017,2017,6,1,1,Import,36,Australia,AUS,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,4897,NaN,NaN,NaN,1307168.0,NaN,2090384,NaN,NaN,4
2,H5,2017,2017,2017,6,1,2,Export,36,Australia,AUS,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,2925,NaN,NaN,NaN,186498.0,NaN,295452,NaN,NaN,4
3,H5,2017,2017,2017,6,1,1,Import,40,Austria,AUT,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",1,No Quantity,0,NaN,NaN,NaN,23248.0,NaN,69685,NaN,NaN,2
4,H5,2017,2017,2017,6,1,2,Export,40,Austria,AUT,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441210,"Plywood, veneered panels and similar laminated wood; of bamboo",12,Volume in cubic meters,0,NaN,NaN,NaN,8.0,NaN,125,NaN,NaN,2

In [28]:
# Looking at the countries that trade the highest netweight of laminated bamboo.
hi_bamboo = comtrade_2.groupby(["Reporter"])["Netweight (kg)"].agg("sum")

# These are the top 10 countries who trade laminated bamboo in the highest amount.
hi_bamboo.sort_values(ascending=False).head(10)

Reporter
China                   285993050.0
USA                     204917415.0
Peru                    135133901.0
Yemen                    74198141.0
Netherlands              70361361.0
Saudi Arabia             50255155.0
Singapore                43198571.0
United Arab Emirates     30140675.0
Hungary                  18161107.0
Japan                    13996211.0
Name: Netweight (kg), dtype: float64

In [29]:
# Looking at the countries that trade laminated bamboo for the highest amounts of money.
dollar_bamboo = comtrade_2.groupby(["Reporter"])["Trade Value (US$)"].agg("sum")
dollar_bamboo.sort_values(ascending=False).head(10)

Reporter
China                   395484308
USA                     330344933
Netherlands              95388013
Singapore                66666789
Saudi Arabia             47118929
Japan                    22905928
Canada                   20030721
United Arab Emirates     19029790
Portugal                 17856423
Germany                  15462101
Name: Trade Value (US$), dtype: int64

----

We can see that the trade has changed a lot. Why?

In [36]:
comtrade_2.groupby(["Reporter"])["Trade Flow"].agg("count").sort_values(
    ascending=False
).head()

Reporter
Canada         16
USA            15
New Zealand    13
Switzerland    12
China          12
Name: Trade Flow, dtype: int64

In [45]:
imports_c2 = comtrade_2[comtrade_2["Trade Flow"].str.contains("Import")]
imports_c2.groupby(["Reporter"])["Netweight (kg)"].agg("sum").sort_values(
    ascending=False
)

Reporter
USA                                 170793453.0
Peru                                135133901.0
Yemen                                74143409.0
Netherlands                          66234488.0
Saudi Arabia                         49649709.0
Singapore                            41548708.0
United Arab Emirates                 26731754.0
Japan                                13952143.0
Cambodia                             12772557.0
Lebanon                              11059858.0
Canada                                8359697.0
Thailand                              8097783.0
Germany                               6220091.0
Portugal                              6165608.0
China, Hong Kong SAR                  6089763.0
United Rep. of Tanzania               5910496.0
Indonesia                             5684367.0
Oman                                  5514776.0
Italy                                 5362879.0
Qatar                                 5361585.0
New Zealand                           5249662.0
France                                4957040.0
Kuwait                                4640670.0
Rep. of Korea                         4479805.0
Nigeria                               4150361.0
Ireland                               4137060.0
Australia                             4033722.0
Philippines                           3942126.0
Angola                                3791902.0
Czechia                               3776414.0
Lithuania                             3762793.0
Kenya                                 3532015.0
United Kingdom                        3039431.0
China                                 3000518.0
Belgium                               2562975.0
Kazakhstan                            2506534.0
Rwanda                                2468564.0
Hungary                               2410501.0
Ethiopia                              2283447.0
Guatemala                             2260426.0
Viet Nam                              1963817.0
Panama                                1834214.0
Bahamas                               1738656.0
Sudan                                 1567069.0
Sweden                                1361672.0
Ghana                                 1359209.0
Norway                                1211942.0
Spain                                 1034229.0
Jordan                                1001500.0
Denmark                               1001340.0
Slovakia                               882432.0
India                                  852397.0
Senegal                                842146.0
Botswana                               786945.0
Bahrain                                783609.0
Zambia                                 752668.0
Suriname                               715945.0
Colombia                               683353.0
Uzbekistan                             648621.0
Maldives                               647501.0
South Africa                           647428.0
Switzerland                            643874.0
Côte d'Ivoire                          639992.0
Dominican Rep.                         630140.0
Mozambique                             597127.0
Other Asia, nes                        589120.0
Dem. Rep. of the Congo                 504235.0
Bermuda                                468257.0
Chile                                  466114.0
Nepal                                  456111.0
Burkina Faso                           429819.0
Zimbabwe                               425087.0
Costa Rica                             401990.0
Sri Lanka                              389241.0
Slovenia                               381914.0
Brazil                                 353182.0
Estonia                                344809.0
Iceland                                344330.0
Namibia                                342182.0
Sierra Leone                           340001.0
Egypt                                  339677.0
Morocco                                334390.0
Lao People's Dem. Rep.                 331783.0
Honduras                               330974.0
El Salvador                            330610.0
Malaysia                               315969.0
Tajikistan                             282435.0
Mauritius                              273199.0
Montenegro                             269192.0
Malawi                                 267689.0
Madagascar                             266799.0
Mauritania                             250821.0
Myanmar                                247721.0
Seychelles                             237785.0
Benin                                  237519.0
Jamaica                                237112.0
Cabo Verde                             215993.0
Togo                                   213457.0
Mongolia                               193430.0
Romania                                191043.0
Pakistan                               187474.0
Armenia                                175466.0
Austria                                166209.0
Uganda                                 163062.0
Poland                                 161554.0
Luxembourg                             154037.0
Mali                                   143464.0
Kiribati                               134849.0
Burundi                                125900.0
Fiji                                   117562.0
Congo                                  116491.0
Israel                                 112655.0
Bolivia (Plurinational State of)       112338.0
Cameroon                                99441.0
Comoros                                 97798.0
Guyana                                  91703.0
Russian Federation                      90325.0
Nicaragua                               77902.0
Niger                                   74176.0
Azerbaijan                              73836.0
Central African Rep.                    72907.0
Malta                                   69855.0
Croatia                                 69359.0
Serbia                                  67584.0
Finland                                 61016.0
Tunisia                                 54947.0
Barbados                                52410.0
Eswatini                                51581.0
Georgia                                 51548.0
State of Palestine                      46569.0
Argentina                               45800.0
Samoa                                   41971.0
Algeria                                 39852.0
Greece                                  38794.0
Belarus                                 38215.0
North Macedonia                         30280.0
Bulgaria                                26843.0
Aruba                                   24442.0
Iran                                    23380.0
Saint Lucia                             20169.0
Greenland                               18326.0
Latvia                                  18049.0
Saint Kitts and Nevis                   16778.0
Cyprus                                  15001.0
Turkey                                  13478.0
Lesotho                                 11546.0
Grenada                                 10002.0
French Polynesia                         8756.0
Rep. of Moldova                          7000.0
Bosnia Herzegovina                       5590.0
Brunei Darussalam                        4194.0
Kyrgyzstan                               2967.0
Uruguay                                  1845.0
Antigua and Barbuda                      1527.0
Saint Vincent and the Grenadines          781.0
Solomon Isds                              364.0
Ukraine                                    97.0
Belize                                     92.0
Palau                                       0.0
Mexico                                      0.0
Name: Netweight (kg), dtype: float64

In [46]:
exports_c2 = comtrade_2[comtrade_2["Trade Flow"].str.contains("Export", case=False)]
exports_c2.groupby(["Reporter"])["Netweight (kg)"].agg("sum").sort_values(
    ascending=False
)

Reporter
China                               282992532.0
USA                                  34123962.0
Hungary                              15750606.0
Spain                                 6806371.0
Portugal                              5808175.0
Uganda                                5254491.0
Netherlands                           4126873.0
United Arab Emirates                  3408921.0
Belgium                               3341319.0
United Kingdom                        3020773.0
Sweden                                1712593.0
Singapore                             1649863.0
United Rep. of Tanzania               1589264.0
Germany                               1381395.0
Philippines                           1094726.0
Canada                                 969436.0
Ghana                                  957695.0
Denmark                                788863.0
Italy                                  639473.0
New Zealand                            631805.0
Russian Federation                     609341.0
Saudi Arabia                           605446.0
Thailand                               553104.0
France                                 538098.0
Serbia                                 519373.0
Viet Nam                               485439.0
Czechia                                421293.0
Lithuania                              381084.0
Malaysia                               365643.0
Lebanon                                358550.0
India                                  292454.0
Jordan                                 285500.0
Kuwait                                 283257.0
Indonesia                              246283.0
Australia                              242887.0
South Africa                           231850.0
Cambodia                               197749.0
Pakistan                               177077.0
Guyana                                 175602.0
Rep. of Korea                          154504.0
Oman                                   128912.0
Bahrain                                113032.0
Belarus                                100797.0
Turkey                                  89642.0
Yemen                                   54732.0
Japan                                   44068.0
Angola                                  40265.0
Eswatini                                36480.0
Poland                                  35180.0
Zambia                                  34500.0
Colombia                                32886.0
Malawi                                  31776.0
Georgia                                 28000.0
Rwanda                                  27600.0
Guatemala                               26807.0
Other Asia, nes                         23854.0
Finland                                 19961.0
Bahamas                                 19624.0
Tunisia                                 19476.0
Morocco                                 16477.0
Latvia                                  15903.0
Nicaragua                               15732.0
Slovenia                                15633.0
Norway                                  14020.0
Egypt                                   13273.0
Ecuador                                 10072.0
Luxembourg                               8117.0
Ethiopia                                 5750.0
Switzerland                              5693.0
Kiribati                                 5225.0
Estonia                                  4750.0
Greece                                   4603.0
Dominican Rep.                           4373.0
Namibia                                  4196.0
Panama                                   4033.0
Côte d'Ivoire                            2911.0
El Salvador                              2393.0
Uzbekistan                               2360.0
Burkina Faso                             2300.0
Nepal                                    2122.0
Croatia                                  2014.0
Bulgaria                                 1620.0
Barbados                                 1618.0
Fiji                                     1576.0
Bermuda                                  1157.0
Austria                                   934.0
Slovakia                                  917.0
Ireland                                   682.0
Brazil                                    600.0
Myanmar                                   467.0
Costa Rica                                337.0
Mauritius                                 190.0
Kyrgyzstan                                150.0
Aruba                                      98.0
Kazakhstan                                 92.0
Bosnia Herzegovina                         60.0
Chile                                      47.0
Kenya                                      11.0
Seychelles                                  6.0
Bolivia (Plurinational State of)            4.0
Sri Lanka                                   0.0
China, Hong Kong SAR                        0.0
Israel                                      0.0
Name: Netweight (kg), dtype: float64